textarea {
    resize: vertical;
    max-height: 300px;
    min-height: 50px;
}

a:hover,
a:active,
a:focus {
    color: #734eb9;
}

label {
    font-weight: bold;
}

.easy-autocomplete-container ul {
    background-color: #1b1b1b !important;
}

.easy-autocomplete-container ul li, .easy-autocomplete-container ul .eac-category {
    border-color: #1b1b1b !important;
}

.easy-autocomplete-container ul li.selected {
    background: none repeat scroll 0 0 #383737;
    cursor: pointer;
}

/* Fix large icon on dashboard number panels */
.small-box .icon-override {
    font-size: 85px !important;
}

.small-box:hover .icon-override {
    font-size: 90px !important;
}

.content-wrapper {
    background-color: #1b1b1b;
}

.wrapper {
    overflow: hidden;
}

/* Switch */

.switch {
    top: 7px;
    margin-right: 5px;
    position: relative;
    display: inline-block;
    width: 30px;
    height: 16px;
}

.switch input {
    display: none;
}

.slider {
    border-radius: 24px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #424242;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    border-radius: 40%;
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    left: 4px;
    bottom: 4px;
    background-color: #1f1f1f;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #6441a5;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(13px);
}


/* Event log */

.event-log {
    height: 200px;
    overflow: auto;
    position: relative;
    background-color: #212121;
}

ul.recent-events {
    padding: 0;
}

ul.recent-events li {
    list-style: none;
    margin-bottom: 5px;
    line-height: 20px;
}

ul.recent-events li table tr td {
    vertical-align: baseline;
}

.event-date {
    color: #999;
    min-width: 142px;
}

.event-type {
    margin-left: 3px;
    margin-right: 3px;
}

.event-message {
    font-style: italic;
}


/* Datatables */

.default-table {
    width: 46px;
    min-width: 46px;
}

.default-table-large {
    width: 47px;
    min-width: 47px;
}

.datatables_filter,
.dataTables_filter {
    float: left;
    text-align: left;
}

.pagination>.active>a {
    background-color: #6441a5;
    border-color: #4b3671;
}

.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #6441a5;
    border-color: #4b3671;
}

.dataTable th,
.dataTable td {
    max-width: 25px;
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap !important;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #171717 !important;
}

/* disabled class */
.off {
    display: none;
}​

/* Buttons */

.btn:hover,
.btn-box-tool:hover {
    background-color: transparent !important;
}

li.disabled {
    cursor: not-allowed;
}

a.disabled {
    pointer-events: none;
}

.panel,
.panel-default,
.panel-group {
    border-radius: 0 !important;
    background-color: #1b1b1b;
    border-color: #424242;
}

.panel-default>.panel-heading {
    color: #ccc;
    background-color: #1b1b1b;
    border-color: #424242;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #424242;
}

/* Tooltips */
.tooltip-inner {
    background-color: #4a4848;
    color: #eee;
    border-radius: 0;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #4a4848;
    border-radius: 0;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #4a4848;
    border-radius: 0;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #4a4848;
    border-radius: 0;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #4a4848;
    border-radius: 0;
}

#toast-container>div {
    border-radius: 0;
}

/* Modals */
.modal-header .close {
    color: #ccc !important;
}

/* Sweetalert */
.swal-modal {
    border-radius: 0;
    background-color: #1a1a1a;
}

.swal-title,
.swal-text {
    color: #ccc;
}

.swal-icon--success:after {
    background-color: #1a1a1a;
}

.swal-icon--success:before {
    background-color: #1a1a1a;
    left: -25px;
}

.swal-icon--success__hide-corners {
    background-color: #1a1a1a;
}

.swal-button--cancel,
.swal-button--cancel:focus,
.swal-button--cancel:active {
    background-color: #313131;
    color: #fff;
    border: 1px solid #272727;
    border-radius: 0;
}

.swal-button--cancel:hover {
    background-color: #272727;
    color: #fff;
    border: 1px solid #1f1f1f;
    border-radius: 0;
}

.swal-button--danger,
.swal-button--danger:focus,
.swal-button--danger:active  {
    background-color: #dd4b39 !important;
    border: 1px solid #d73925 !important;
    border-radius: 0;
}

.swal-button--danger:hover {
    background-color: #d73925 !important;
    border: 1px solid #d73925 !important;
    border-radius: 0;
}

.swal-button--confirm,
.swal-button--confirm:focus,
.swal-button--confirm:active {
    background-color: #6441a5;
    text-decoration: none;
    border: 1px solid #2f098c;
    border-radius: 0;
}

.swal-button--confirm:hover {
    background-color: #6b49ab;
    text-decoration: none;
    border: 1px solid #2f098c;
    border-radius: 0;
}

.swal-button {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    box-shadow: none;
}

.swal-button:focus {
    box-shadow: none;
}

.input-group,
.input-group-addon {
    border-color: #313131 !important;
    background-color: #2e2e2e !important;
    color: #ccc !important;
}

.table-custom>thead>tr>th,
.table-custom>tbody>tr>th,
.table-custom>tfoot>tr>th,
.table-custom>thead>tr>td,
.table-custom>tbody>tr>td,
.table-custom>tfoot>tr>td {
    border-top: 1px solid #424242 !important;
}

.skin-purple .sidebar-menu>li.header {
    color: #ccc;
    background: #191919;
}

.skin-purple .sidebar-menu>li.active>a,
.skin-purple .sidebar-menu>li.menu-open>a,
.skin-purple .sidebar-menu>li:hover>a {
    color: #fff;
    background: #1d1c1c;
}

.box-footer {
    border-top: 1px solid #424242;
    background-color: #212121;
}

.box-header {
    background: #212121;
}

.box-body {
    background: #212121;
}

body {
    color: #ccc !important;
    background: #212121;
}

.form-control {
    background-color: #2e2e2e !important;
    border-color: rgba(0, 0, 0, .15) !important;
    color: #ccc !important;
}

.skin-purple .sidebar-menu>li>.treeview-menu {
    background: #131313;
}

.skin-purple .sidebar-menu>li.header {
    color: #ccc;
    background: #191919;
}

.content-header>.breadcrumb {
    background: #212121;
}

.table-bordered {
    border: 1px solid #424242;
}

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border: 1px solid #424242;
}

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border: 1px solid #424242;
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
    background: #313131 !important;
    color: #fff !important;
    border-color: #272727 !important;
}

.pagination>.disabled>a {
    background: #313131;
    color: #fff;
    border-color: #272727;
}

.pagination>li>a {
    background: #313131;
    color: #fff;
    border-color: #272727;
}

.dropdown-menu {
    color: #ccc;
    background-color: #2e2e2e;;
    background: #2e2e2e;
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer {
    background-color: #2e2e2e;
}

.skin-purple .left-side,
.skin-purple .main-sidebar,
.skin-purple .wrapper {
    background-color: #1b1b1b;
}

.skin-purple .sidebar-menu .treeview-menu>li.active>a,
.skin-purple .sidebar-menu .treeview-menu>li>a:hover {
    color: #fff;
}

.skin-purple .sidebar-menu .treeview-menu>li>a {
    color: #8aa4af;
}

.select2-container--default.select2-container--open {
    border-color: #3c8dbc;
}

.select2-container--open .select2-dropdown--below { 
    background: #2e2e2e !important;
}
.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
        background: #2d2d2d !important;
        border-color: rgba(0, 0, 0, .15) !important;
}

.select2-dropdown {
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0;
}

.select2-container {
    background: #2d2d2d !important;
}

.select2-search--dropdown {
    background: #2d2d2d !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #6441a5 !important;
    background: #2d2d2d !important;
}

.dropdown-menu {
    color: #ccc;
    border-color: #232323;
}

.dropdown-menu>li>a {
    color: #ccc;
}

.box-header .box-title,
.box-header>.fa,
.box-header>.glyphicon,
.box-header>.ion {
    color: #ccc !important;
}

.box-header.with-border {
    border-bottom: 1px solid #424242;
}

.box {
    background: #fff;
    border-top: #424242
}
.box.box-solid.box-primary>.box-header .btn,
.box.box-solid.box-primary>.box-header a {
    color:#fff
}

.box.box-solid.box-primary>.box-header {
    color:#fff;
    background: #212121;
    background-color: #212121;
}

.box.box-solid.box-primary {
    border: 1px solid #212121;
}

.main-footer {
    background: #212121;
    color: #c1c1c1;
    border-top: 1px solid #212121;
}

.breadcrumb>.active {
    color: #ccc;
}

.control-sidebar-dark .nav-tabs.control-sidebar-tabs>li.active>a,
.control-sidebar-dark .nav-tabs.control-sidebar-tabs>li.active>a:hover,
.control-sidebar-dark .nav-tabs.control-sidebar-tabs>li.active>a:focus,
.control-sidebar-dark .nav-tabs.control-sidebar-tabs>li.active>a:active {
    background: #212121;
    color: #fff;
}

.control-sidebar-dark .nav-tabs.control-sidebar-tabs>li>a,
.control-sidebar-dark .nav-tabs.control-sidebar-tabs>li>a:focus,
.control-sidebar-dark .nav-tabs.control-sidebar-tabs>li>a:hover {
    border-left-color: #424242;
    border-bottom-color: #424242;
}

.control-sidebar-dark .nav-tabs.control-sidebar-tabs>li>a {
    background: #191919;
    color: #ccc;
}

.control-sidebar-dark .nav-tabs.control-sidebar-tabs {
    border-bottom: #1c2529;
}

.control-sidebar-dark, .control-sidebar-dark+.control-sidebar-bg {
    background: #212121;
}

.login-page,
.register-page {
    background:#212121;
}

.login-box-body,
.register-box-body {
    background:#212121;
    color:#666;
}
.login-box-body .form-control-feedback,
.register-box-body .form-control-feedback {
    color:#777;
}